<p id="notice"><%= notice %></p>

<h1>My Groups</h1>

<table>
  <thead>
    
  </thead>

  <tbody>

    <% @groups.each do |group| %>
      <tr>
    <% if group.user == current_user %>


        <td><%= link_to group.name, group %></td>
         <td rowspan="3"> </td>
        <td><%= link_to 'Display', group %></td>
         <td rowspan="3"> </td>
        <td><%= link_to 'Delete Group', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
