<p id="notice"><%= notice %></p>



<p>
<strong>Group:</strong>
  <%= @group.name %>
</p>





<p>
<strong>your friend :</strong>
 
<ul>

<% if @group.user.friendships.any? %>
  <%for f in @group.user.friendships %>


<% if GroupUser.where(user_id:f.friend.id,group_id:@group.id).present? %>
   
   <% else %>
<li>
<%=h f.friend.name %>
<%= link_to "Add", group_users_path(:user_id => f.friend,:group_id => @group), :method => :post %>
</li>
<%end%>
<%end%>
<%else%>
<p>u haven't friends</p>
<%end%>

</ul>
</p>





<p>
<strong>members:</strong>
<ul>
<% if @group.group_users.any? %>
   <%for g in @group.group_users %>
<li>
<%=h g.user.name %>
           <%= link_to "remove", group_user_url(g), :method => :delete %>
</li>
<%end%>
<%end%>

</ul>
</p>



<%= link_to 'Back', groups_path %>
