<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @order.orderType %>
</p>

<p>
  <strong>Orderfrom:</strong>
  <%= @order.orderFrom %>
</p>

<p>
  <strong>Menuimage:</strong>
  <%= image_tag @order.image.url(:medium) %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @order.user.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
